<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Vyne_Magento::vyne_magento_payout" title="Vyne Payouts" module="Vyne_Magento" sortOrder="9999" resource="Magento_Backend::content" parent="Magento_Sales::sales" action="vyne_magento/payout/index"/>
	</menu>
</config>
