<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="vyne_magento" id="vyne_magento">
			<module before="Magento_Backend" name="Vyne_Magento"/>
		</route>
	</router>
</config>
