<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="vyne" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <comment><![CDATA[<div class="vyne-payment-logo"></div><div class="vyne-payment-text">Vyne Payment integration.<br/>Offer customers a fast, secure, cardless payment method. In as little as three taps customers pay directly from their own banking app.<br/>Powered by Open Banking, Vyne Pay with bank enables e-commerce businesses to save costs on transaction fees, boost cash flow through instant settlement and refunds, and reduce the risk of fraud.<div class="bank-logo"></div></div>]]></comment>
                <fieldset_css>complex vyne-section</fieldset_css>
                <frontend_model>Vyne\Payments\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <field id="webhook_instructions" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Information</label>
                    <frontend_model>Vyne\Payments\Block\System\Config\Instructions</frontend_model>
                </field>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="environment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="25" translate="label" type="select">
					<label>Environment</label>
                    <source_model>Vyne\Payments\Model\Source\Environment</source_model>
				</field>
				<field id="client_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="obscure">
					<label>Client Id</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="client_secret" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="obscure">
					<label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="destination_account" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="45" translate="label" type="text">
					<label>Destination Account</label>
				</field>
				<field id="debug" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="select">
					<label>Enable Debug</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="media_type" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="65" translate="label" type="select">
                    <label>Media Type</label>
                    <source_model>Vyne\Payments\Model\Source\MediaType</source_model>
                </field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="instructions" type="textarea" sortOrder="45" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Instructions</label>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="colour_scheme" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="200" translate="label" type="select">
					<label>Colour Scheme</label>
					<source_model>Vyne\Payments\Model\Source\ColourScheme</source_model>
				</field>
				<field id="promotion" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="210" translate="label" type="select">
					<label>Enable Promotion Content</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <!--add promotion content fields-->
                <field id="pdp_promotion" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="230" translate="label" type="select">
                    <label>Display Promotion on PDP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="promotion">1</field>
                    </depends>
                </field>
				<field id="promo_text_1" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="231" translate="label" type="text">
					<label>Promo Text 1</label>
                    <comment><![CDATA[Promotional text line 1 on PDP]]></comment>
                    <depends>
                        <field id="pdp_promotion">1</field>
                    </depends>
				</field>
				<field id="promo_text_2" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="232" translate="label" type="text">
					<label>Promo Text 2</label>
                    <comment><![CDATA[Promotional text line 2 on PDP]]></comment>
                    <depends>
                        <field id="pdp_promotion">1</field>
                    </depends>
				</field>
                <field id="minicart_promotion" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="240" translate="label" type="select">
                    <label>Display Promotion on Mini Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="promotion">1</field>
                    </depends>
                </field>
                <field id="cart_promotion" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="250" translate="label" type="select">
                    <label>Display Promotion on Basket Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="promotion">1</field>
                    </depends>
                </field>
			</group>
		</section>
	</system>
</config>
